@import url('../fonts/meresre.ttf');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mercedes', sans-serif;  
}
#sidebar {
    background: #171B2E;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 0;
    padding-left: 0;
    transition: .5s;
    width: 250px;
}
#sidebar.close {
    width: 70px;
}
#sidebar.close .text {
    animation: slide .5s linear !important;
    opacity: 0 !important;
    display: none !important;
}
@keyframes slide {
    0% {
        opacity: 1;
        display: none;
    }
    100% {
        opacity: 0;
        display: none;
    } 
}
#sidebar #sidebar-start {
    overflow-y: scroll;
    height: 90vh;                                        
}
#sidebar-start::-webkit-scrollbar {
    width: 8px;
}
#sidebar-start::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #555;
    visibility: hidden;
}
#sidebar-start::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#sidebar:hover #sidebar-start::-webkit-scrollbar-thumb {
    visibility: visible;
}
#sidebar .header {
    padding: 20px 16px;  
    display: flex;                              
}
#sidebar .header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;                                     
}
#sidebar .header #collapse-button {
    color: #ffffff; 
    display: block;
    cursor: pointer;   
    margin-left: auto;
    padding-top: 5px;                          
}
#sidebar .nav-item a.nav-link {
    color: #ffffff;
    border-radius: 5px;
    position: relative;
    padding: 8px 16px 8px 32px;
}
#sidebar .nav-item a.nav-link i {
    vertical-align: middle;
}
#sidebar .nav-item a.nav-heading {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 8px;
    padding: 8px 16px 8px 32px;
    font-weight: bold;
    font-size: 18px;
    color: transparent;
    background: linear-gradient(to bottom, #66478f, #fefeff) text;
}
#sidebar .menu-divider {
    border: none;
    height: 2px;
    margin-bottom: 0;
    background-color: #292e4d;
}
#sidebar .nav-item a.nav-link.active {
    color: #ffffff;
    background-image: linear-gradient(to bottom, #463063, #3F3065);
}
#sidebar .nav-item a.nav-link:hover {
    color: #ffffff;
    background-image: linear-gradient(to bottom, #463063, #3F3065);
}
#sidebar .nav-item .nav-link:hover::before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #bb92f1;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#sidebar .nav-item .submenu .nav-link.active::before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #bb92f1;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#sidebar .nav-item>.nav-link.active::before  {
    content: "";
    border-top: 20px solid #84729c;
    border-bottom: 20px solid #84729c;
    border-right: 15px solid transparent;
    border-left: 15px solid #bb92f1;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translateY(-50%);
    transition: .5s;
}

