@import url('../fonts/meresre.ttf');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mercedes', sans-serif;  
}
body {
    background: #111526;
}
:root {
    --color: #ffffff;
    --nav-link-color: #ffffff;
    --nav-heading-color: linear-gradient(to bottom, #66478f, #fefeff) text;
    --nav-link-bg-color: linear-gradient(to bottom, #463063, #3F3065);
    --nav-link-before-border-left-color: #bb92f1;
    --nav-link-before-border-right-color: #020003;
    --nav-link-before-border-top-color: #000000;
    --nav-link-before-border-bottom-color: #84729c;
    --divider-color: #292e4d;
    --btn-color: #ffffff;
    --btn-dark-color: #1d1c1c;
    --placeholder-text-color: #ffffff;
    --placeholder-dark-color: #141313;
    --sidebar-bg-color: #171B2E;
    --sidebar-scrollbar-bg-color: #555555;
    --main-header-bg-color: linear-gradient(to right, #171C31, #272b45);
    --input-color: #ffffff;
    --input-border-color: #292e4d;
    --input-bg-color: transparent;
    --input-placeholder-color: #ffffff;
    --card-bg-color: #171B2E;
    --text-muted-color: #88888b;
}

/* =========== sidebar start =========== */
#sidebar {
    background: var(--sidebar-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 0;
    padding-left: 0;
    transition: .5s;
    width: 250px;
}
#sidebar.close {
    width: 70px;
}
#sidebar.close .text {
    animation: slide .5s linear !important;
    opacity: 0 !important;
    display: none !important;
}
@keyframes slide {
    0% {
        opacity: 1;
        display: none;
    }
    100% {
        opacity: 0;
        display: none;
    } 
}
#sidebar #sidebar-start {
    overflow-y: scroll;
    height: 90vh;                                        
}
#sidebar-start::-webkit-scrollbar {
    width: 8px;
}
#sidebar-start::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--sidebar-scrollbar-bg-color);
    visibility: hidden;
}
#sidebar-start::-webkit-scrollbar-thumb:hover {
    background: var(--sidebar-scrollbar-bg-color);
}
#sidebar:hover #sidebar-start::-webkit-scrollbar-thumb {
    visibility: visible;
}
#sidebar .header {
    padding: 20px 16px;  
    display: flex;                              
}
#sidebar .header a {
    text-decoration: none;
    color: var(--color);
    font-size: 20px;                                     
}
#sidebar .header #collapse-button {
    color: var(--color);
    display: block;
    cursor: pointer;   
    margin-left: auto;
    padding-top: 5px;                          
}
#sidebar .nav-item a.nav-link {
    color: var(--nav-link-color);
    border-radius: 5px;
    position: relative;
    padding: 8px 16px 8px 32px;
}
#sidebar .nav-item a.nav-link i {
    vertical-align: middle;
}
#sidebar .nav-item a.nav-heading {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 8px;
    padding: 8px 16px 8px 32px;
    font-weight: bold;
    font-size: 18px;
    color: transparent;
    background: var(--nav-heading-color);
}
#sidebar .menu-divider {
    border: none;
    height: 2px;
    margin-bottom: 0;
    background-color: var(--divider-color);
}
#sidebar .nav-item a.nav-link.active {
    color: var(--nav-link-color);
    background-image: var(--nav-link-bg-color);
}
#sidebar .nav-item a.nav-link:hover {
    color: var(--nav-link-color);
    background-image: var(--nav-link-bg-color);
}
#sidebar .nav-item .nav-link:hover::before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid var(--nav-link-before-border-left-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#sidebar .nav-item .submenu .nav-link.active::before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid var(--nav-link-before-border-left-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#sidebar .nav-item>.nav-link.active::before  {
    content: "";
    border-top: 20px solid var(--nav-link-before-border-bottom-color);
    border-bottom: 15px solid var(--nav-link-before-border-bottom-color);
    border-right: 15px solid transparent;
    border-left: 15px solid var(--nav-link-before-border-left-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translateY(-50%);
    transition: .5s;
}
/* =========== sidebar end =========== */

/* =========== main start =========== */
main {
    position: absolute;
    top: 0;
    left: 250px;
    transition: .5s;
    width: calc(100% - 250px);
}
main.slide {
    position: absolute !important;
    top: 0 !important;
    left: 70px !important;
    transition: 1s !important;
    width: calc(100% - 70px);
}
main .main-header {
    background-image: var(--main-header-bg-color);
    padding: 10px 20px;
}
input[type="text"],
input[type="search"],
input[type="checkbox"],
input[type="radio"],
input[type="number"] {
    color: var(--input-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background: transparent;
    box-shadow: none;
}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="number"]:focus {
    color: var(--input-color);
    border: none;
    box-shadow: none;
    background: none;
}
input[type="text"]::placeholder,
input[type="search"]::placeholder {
    color: var(--input-placeholder-color);
}
.input-group {
    border: 2px solid var(--input-border-color);
    border-radius: 10px;
}
.input-group span {
    color: var(--input-color);
    background: var(--input-bg-color);
    border: none;
    padding: 5px 16px;
}
input[type="search"]::-webkit-search-cancel-button {
    /* filter: hue-rotate(90deg); */
}

/* =========== sidebar end =========== */

/* =========== footer start =========== */
/* =========== footer end =========== */





