@import url('../fonts/meresre.ttf');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mercedes', sans-serif;  
}
body {
    background: var(--main-body-bg-color);
}
:root {
    --color: #ffffff;
    --color-red: #ed0c3d;
    --nav-link-color: #ffffff;
    --nav-heading-color: linear-gradient(to bottom, #66478f, #fefeff) text;
    --nav-link-bg-color: linear-gradient(to bottom, #463063, #3F3065);
    --nav-link-before-border-left-color: #bb92f1;
    --nav-link-before-border-right-color: #020003;
    --nav-link-before-border-top-color: #000000;
    --nav-link-before-border-bottom-color: #84729c;
    --divider-color: #292e4d;
    --btn-color: #ffffff;
    --btn-dark-color: #1d1c1c;
    --placeholder-text-color: #ffffff;
    --placeholder-dark-color: #141313;
    --sidebar-bg-color: #171B2E;
    --sidebar-scrollbar-bg-color: #555555;
    --main-header-bg-color: linear-gradient(to right, #171C31, #272b45);
    --single-bg-color: #272b45;
    --main-header-bg-color-text: linear-gradient(to right, #171C31, #272b45) text;
    --main-header-color: #ffffff;
    --main-footer-bg-color: linear-gradient(to right, #171C31, #272b45);
    --main-footer-color: #ffffff;
    --main-body-color: #ffffff;
    --main-body-bg-color: #111526;
    --input-color: #ffffff;
    --input-border-color: #292e4d;
    --input-bg-color: transparent;
    --input-placeholder-color: #ffffff;
    --card-bg-color: #171B2E;
    --text-muted-color: #88888b;
    --container-padding: 10px 20px;
    --link-item-padding: 8px 16px 8px 32px;
    --link-item-padding-two: 8px 16px;
    --link-font-size: 14px;
    --link-heading-font-size: 16px;
    --icon-margin-right: 8px;
}

/* =========== sidebar start =========== */
#sidebar {
    background: var(--sidebar-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 0;
    padding-left: 0;
    transition: .5s;
    width: 250px;
}
#sidebar.close {
    width: 70px;
}
#sidebar.close .text {
    animation: slide .5s linear !important;
    opacity: 0 !important;
    display: none !important;
}
@keyframes slide {
    0% {
        opacity: 1;
        display: none;
    }
    100% {
        opacity: 0;
        display: none;
    } 
}
#sidebar #sidebar-start {
    overflow-y: scroll;
    height: 90vh;                                        
}
#sidebar-start::-webkit-scrollbar {
    width: 8px;
}
#sidebar-start::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--sidebar-scrollbar-bg-color);
    visibility: hidden;
}
#sidebar-start::-webkit-scrollbar-thumb:hover {
    background: var(--sidebar-scrollbar-bg-color);
}
#sidebar:hover #sidebar-start::-webkit-scrollbar-thumb {
    visibility: visible;
}
#sidebar .header {
    padding: 20px 16px;  
    display: flex;                              
}
#sidebar .header a {
    text-decoration: none;
    color: var(--color);
    font-size: 20px;                                    
}
#sidebar .header #collapse-button {
    color: var(--color);
    display: block;
    cursor: pointer;   
    margin-left: auto;
    padding-top: 5px;                          
}
#sidebar .nav-item a.nav-link {
    color: var(--nav-link-color);
    border-radius: 5px;
    position: relative;
    padding: 8px 16px 8px 32px;
    font-size: var(--link-font-size);
}
#sidebar .nav-item a.nav-link i {
    vertical-align: middle;
    margin-right: var(--icon-margin-right);
}
#sidebar .nav-item a.nav-heading {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 8px;
    padding: 8px 16px 8px 32px;
    font-weight: bold;
    font-size: var(--link-heading-font-size);
    color: transparent;
    background: var(--nav-heading-color);
}
#sidebar .menu-divider {
    border: none;
    height: 2px;
    margin-bottom: 0;
    background-color: var(--divider-color);
}
#sidebar .nav-item a.nav-link.active {
    color: var(--nav-link-color);
    background-image: var(--nav-link-bg-color);
}
#sidebar .nav-item a.nav-link:hover {
    color: var(--nav-link-color);
    background-image: var(--nav-link-bg-color);
}
#sidebar .nav-item .nav-link:hover::before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid var(--nav-link-before-border-left-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#sidebar .nav-item .submenu .nav-link.active::before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid var(--nav-link-before-border-left-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#sidebar .nav-item>.nav-link.active::before  {
    content: "";
    border-top: 20px solid var(--nav-link-before-border-bottom-color);
    border-bottom: 15px solid var(--nav-link-before-border-bottom-color);
    border-right: 15px solid transparent;
    border-left: 15px solid var(--nav-link-before-border-left-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translateY(-50%);
    transition: .5s;
}
/* =========== sidebar end =========== */

/* =========== main start =========== */
/* =========== main header start =========== */
main {
    position: relative;
    margin-left: 250px;
    transition: .5s;
}
main.slide {
    position: relative !important;
    margin-left: 70px !important;
    transition: .5s !important;
}
main .main-header {
    background-image: var(--main-header-bg-color);
    padding: var(--container-padding);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 998;
}
input[type="text"],
input[type="search"],
input[type="checkbox"],
input[type="radio"],
input[type="number"] {
    color: var(--input-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background: transparent;
    box-shadow: none;
}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="number"]:focus {
    color: var(--input-color);
    border: none;
    box-shadow: none;
    background: none;
}
input[type="text"]::placeholder,
input[type="search"]::placeholder {
    color: var(--input-placeholder-color);
}
.input-group {
    border: 2px solid var(--input-border-color);
    border-radius: 10px;
}
.input-group span {
    color: var(--input-color);
    background: var(--input-bg-color);
    border: none;
    padding: 5px 16px;
}
.main-header .dash-info-bar {
    display: flex;
    align-items: center;
    justify-content: end;
}
.main-header .dash-info-bar .profile-menu,
.main-header .dash-info-bar .language-menu,
.main-header .dash-info-bar .notification-menu,
.main-header .dash-info-bar .appearance-menu {
    padding: 0 5px;
}
.profile-menu .dropdown .dropdown-menu,
.language-menu .dropdown .dropdown-menu,
.notification-menu .dropdown .dropdown-menu,
.appearance-menu .dropdown .dropdown-menu {
    width: 250px;
    padding: 0;
    background: transparent;
    border: 2px solid var(--divider-color);
    transform: translate3d(0px, 54.8px, 0px) !important;
    border-radius: 11px;
}
.profile-menu .dropdown .dropdown-menu::after,
.language-menu .dropdown .dropdown-menu::after,
.notification-menu .dropdown .dropdown-menu::after,
.appearance-menu .dropdown .dropdown-menu::after {
    content: '';
    height: 20px;
    width: 20px;
    background: var(--single-bg-color);
    position: absolute;
    top: -11px;
    right: 10px; 
    border-top: 2px solid var(--divider-color);
    border-left: 2px solid var(--divider-color);
    transform: rotate(45deg);
    z-index: -1;
}
.profile-menu .dropdown .dropdown-toggle::after,
.language-menu .dropdown .dropdown-toggle::after,
.notification-menu .dropdown .dropdown-toggle::after,
.appearance-menu .dropdown .dropdown-toggle::after {
    content: none;
}
.profile-menu .dropdown a,
.language-menu .dropdown a,
.notification-menu .dropdown a,
.appearance-menu .dropdown a {
    text-decoration: none;
    color: inherit;
}
.profile-menu .dropdown a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--main-body-bg-color);
}
.language-menu .dropdown a img,
.notification-menu .dropdown a img,
.appearance-menu .dropdown a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--main-body-color);
    padding: 5px;
}
.profile-menu .dropdown .dropdown-menu ul li a img,
.language-menu .dropdown .dropdown-menu ul li a img,
.notification-menu .dropdown .dropdown-menu ul li a img,
.appearance-menu .dropdown .dropdown-menu ul li a img {
    width: 32px;
    max-height: 24px;
    border-radius: 5px;
    object-fit: cover;
    background: var(--main-body-color);
    padding: 0;
    margin-right: var(--icon-margin-right);
}
.profile-menu .dropdown a .icon,
.language-menu .dropdown a .icon,
.notification-menu .dropdown a .icon,
.appearance-menu .dropdown a .icon {
    background: var(--main-body-color);
    padding: 8px 10px 3px;
    border-radius: 50%;
    i {
        font-size: 18px;
    }
    span {
        position: absolute;
        top: 0;
        left: 70%;
        padding: 5px;
        border-radius: 50%;
        background: var(--color-red);
    }
}
.profile-menu .dropdown .profile,
.language-menu .dropdown .profile,
.notification-menu .dropdown .profile,
.appearance-menu .dropdown .profile {
    text-align: center;
}
.profile-menu .dropdown .profile img,
.language-menu .dropdown .profile img,
.notification-menu .dropdown .profile img,
.appearance-menu .dropdown .profile img {
    margin: auto;
}
.profile-menu .dropdown .profile span,
.language-menu .dropdown .profile span,
.notification-menu .dropdown .profile span,
.appearance-menu .dropdown .profile span {
    display: inline-block;
    margin-bottom: 10px;
}
.profile-menu .dropdown .dropdown-menu .card,
.language-menu .dropdown .dropdown-menu .card,
.notification-menu .dropdown .dropdown-menu .card,
.appearance-menu .dropdown .dropdown-menu .card {
    width: 250px;
    background: var(--main-header-bg-color);
    padding: 20px 0 10px;
    border: none;
    border-radius: 10px;
}
.notification-menu .dropdown .dropdown-menu,
.notification-menu .dropdown .dropdown-menu .card {
    width: 300px;
}
.profile-menu .dropdown .dropdown-menu .card *,
.language-menu .dropdown .dropdown-menu .card *,
.notification-menu .dropdown .dropdown-menu .card *,
.appearance-menu .dropdown .dropdown-menu .card * {
    color: var(--main-header-color);
    font-size: var(--link-font-size);
}
.profile-menu .dropdown .dropdown-menu .card ul,
.language-menu .dropdown .dropdown-menu .card ul,
.notification-menu .dropdown .dropdown-menu .card ul,
.appearance-menu .dropdown .dropdown-menu .card ul {
    padding: 0;
    list-style: none;
}
.profile-menu .dropdown .dropdown-menu .card .dropdown-item,
.language-menu .dropdown .dropdown-menu .card .dropdown-item,
.notification-menu .dropdown .dropdown-menu .card .dropdown-item,
.appearance-menu .dropdown .dropdown-menu .card .dropdown-item {
    padding: var(--link-item-padding-two);
    border-radius: 5px;
}
.profile-menu .dropdown .dropdown-menu .card .dropdown-item i,
.language-menu .dropdown .dropdown-menu .card .dropdown-item i,
.notification-menu .dropdown .dropdown-menu .card .dropdown-item i,
.appearance-menu .dropdown .dropdown-menu .card .dropdown-item i {
    margin-right: var(--icon-margin-right);
}
.profile-menu .dropdown .dropdown-menu .card .dropdown-item:hover,
.language-menu .dropdown .dropdown-menu .card .dropdown-item:hover,
.notification-menu .dropdown .dropdown-menu .card .dropdown-item:hover,
.appearance-menu .dropdown .dropdown-menu .card .dropdown-item:hover {
    background: var(--main-body-bg-color);
}
.profile-menu .dropdown .dropdown-menu .card .menu-divider,
.language-menu .dropdown .dropdown-menu .card .menu-divider,
.notification-menu .dropdown .dropdown-menu .card .menu-divider,
.appearance-menu .dropdown .dropdown-menu .card .menu-divider {
    border: none;
    height: 2px;
    margin: 5px 0;
    background-color: var(--divider-color);
}
.profile-menu .dropdown .dropdown-menu .card .btn,
.language-menu .dropdown .dropdown-menu .card .btn,
.notification-menu .dropdown .dropdown-menu .card .btn,
.appearance-menu .dropdown .dropdown-menu .card .btn {
    background: var(--main-body-bg-color);
    display: block;
    margin: 0 10px;
}
.profile-menu .dropdown .dropdown-menu .card .btn i,
.language-menu .dropdown .dropdown-menu .card .btn i,
.notification-menu .dropdown .dropdown-menu .card .btn i,
.appearance-menu .dropdown .dropdown-menu .card .btn i {
    margin-right: var(--icon-margin-right);
}
.profile-menu .dropdown .dropdown-menu .card .btn:hover,
.language-menu .dropdown .dropdown-menu .card .btn:hover,
.notification-menu .dropdown .dropdown-menu .card .btn:hover,
.appearance-menu .dropdown .dropdown-menu .card .btn:hover {
    background: var(--single-bg-color);
    display: block;
}
/* =========== main header end =========== */

/* =========== main body start =========== */
main .main-section {
    padding: var(--container-padding);
    color: var(--main-body-color);
}
/* =========== main body end =========== */

/* =========== main footer start =========== */
main .main-footer {
    background-image: var(--main-footer-bg-color);
    color: var(--main-footer-color);
    padding: var(--container-padding);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 998;
}
/* =========== main footer end =========== */





